@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

/* START PAGE LOGIN */
body{
    margin: 0px !important;
    padding:0px !important;
    font-family: "Nunito Sans", sans-serif !important;
}

.l-back{
    background-color:#6379F4;
}

.l-parap{
    font-family: nunito-sans;
    font-size: 30px;
    color:#fff;
    padding:20px 0px 0px 80px;
}

.email-data{
    border: unset !important;
    float: unset !important;
    margin: auto !important;
    font-family: Nunito Sans;
    color: #B5BDCC;
    border-bottom: 1px solid !important;
}

.password-data{
    border: unset !important;
    float: unset !important;
    margin: auto !important;
    font-family: Nunito Sans;
    color: #B5BDCC;
    border-bottom: 1px solid !important;
}

.l-covering{
    font-family: nunito-sans;
    color:#fff;
    font-size: 2vw;
    font-style: bold;
    margin-bottom:18px;
    padding:0px 0px 0px 80px;
}

.l-cut{
    font-family: nunito Sans;
    color:#fff;
    padding:0px 0px 0px 80px;
}

.l-img{
    width:55%;
    float: unset;
    margin: auto;
    display: block;
}

@media screen and (min-width: 280px) and (max-width: 1050px){
	.l-img {
		width:100%
    }
    
    .l-cut{
        font-family: nunito Sans;
        color:#fff;
        padding:0px 0px 0px 0px;
    }

    .l-parap{
        font-family: nunito-sans;
        font-size: 50px;
        color:#fff;
        padding:20px 0px 0px 0px;
        text-align: center;
    }
    
    .l-covering{
        font-family: nunito-sans;
        color:#fff;
        font-size: 25px;
        font-style: bold;
        padding:0px 0px 0px 0px;
    }

    /* .l-head{
        margin-top: 20px !important;
    } */
}

.l-right{
    /* width:384px; */
    font-size: 24px;
    font-weight: bold;
    font-family: nunito-sans;
    line-height:33px;
    color:#3a3d42;
}

.l-right-1{
    height: 90px;
    /* width: 433px; */
    /* border-radius: nullpx; */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(58, 61, 66, 0.6);

}

.l-head{
    margin-top: 121px;
}

@media screen and (min-width: 260px) and (max-width: 768px){
    .l-head{
        margin-top: 30px;
    }

    .l-right-1{
        margin-bottom: 30px;
    }
}

.l-button{
    background-color:#dadada !important;
    border-color: #dadada !important;
    color:#88888f;
}

.l-button:hover{
    color:#fff;
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    transition: 2s;
}

.l-sign-up{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-family: nunito-sans;
}

.forgot-password{
    float:right !important;
}

/* END PAGE LOGIN */

/* START PAGE HISTORY */

.h-nav{
    background: #fff !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 25px 25px;
    height:75px;
    margin-bottom: 20px;
}

.h-top{
    font-family: Nunito-Sans;
    line-height: 70px !important;
    font-weight: bold;
    font-size: 29px;
    color: #6379F4 !important;
}

.h-nav-right{
    float:right !important;
}

.h-img-nav{
    width:52px;
    height: 52px;
    margin:5px 10px 0px 0px;
}

.h-no-margin{
    margin:0px !important;
    padding-top: 5px;
}

.h-nav-bell{
    margin:15px 0px 0px 50px;
}

@media screen and (min-width: 280px) and (max-width: 767px){
    .h-top{
        text-align:center !important;
    }

    .h-nav-bell{
        margin-left:15px !important;
    }
    .h-nav{
        background: #fff !important;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 0px 0px 25px 25px;
        height:200px;
        margin-bottom: 20px;
    }
    .h-img-nav{
        float:unset !important;
        display: block;
        margin: auto !important;
    }
}

@media screen and (min-width: 280px) and (max-width: 350px){
    .h-img-nav{
        float:unset !important;
        display: block;
        margin: auto !important;
    }
} 

.h-dashboard-in{
    margin-bottom:30px;
}

.h-img-dashboard{
    width:28px;
    height:28px;
    margin-left: 30px;
}

.top-dashboard{
    margin-top:30px;
}

.top-dashboard1{
    margin-top:0 !important;
}

.h-dashboard{
    margin-left:15px;
    width:91px;
    height:31px;
    font-family: Nunito-Sans;
    font-weight: normal;
    font-size: 18px;
    line-height: 50px;
    color: rgba(58, 61, 66, 0.8);
    list-style-type: none;
    text-decoration: none;
}

.h-dashboard:hover{
    color: #6379F4;
    list-style-type: none;
    text-decoration: none;
}

.h-dashboard-all{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    margin-bottom:10px;
}

.h-dashboard-last{
    margin-top: 100px;
}

.h-tran-parap{
    margin-top: 20px;
}

.h-tran-top{
    font-family: Nunito-Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
}

.h-tran-mid{
    font-family: Nunito-Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #7A7886;
}

.h-tran-data{
    margin-top: 20px;
}

.h-img-data{
    float:left;
    width:56px;
    height: 56px;
}

.h-name-data{
    margin-left:80px;
    font-family: Nunito-Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4D4B57;
}

.h-status-data{
    margin-left:80px;
    font-family: Nunito-Sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7A7886;
}

.h-status-money1{
    float:right !important;
}

.h-status-money2{
    float:right !important;
}

.h-status-money1{
    font-family: Nunito Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #1EC15F;
}

.h-status-money2{
    font-family: Nunito Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #FF5B37;
}

.h-tran-month{
    margin-top:30px;
}

.h-tran-month{
    font-family: Nunito-Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #7A7886;
}

.h-footer-name{
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: rgba(239, 239, 239, 0.9);
}

.h-name-footer{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: rgba(239, 239, 239, 0.9);
}

@media screen and (min-width: 280px) and (max-width: 767px){
    .h-footer-name-one{
        /* opacity:0;  */
        display: none !important;
    }
    .no-margin{
        margin:0px !important;
        text-align: center !important;
    }
}
/* END PAGE HISTORY */

/* START PAGE SEARCHRECEIVER */

.s-search{
    margin-top: 20px;
}

.h-name-data-href:hover{
    text-decoration: unset !important;
}

.s-parap-search{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
}

.s-form-search{
    background: rgba(58, 61, 66, 0.1);
    border-radius: 10px;
}

.h-tran-data-search{
    height:80px;
    margin-top:10px;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.h-img-data-search{
    width:56px;
    height:56px;
    float:left; 
    margin:10px !important;
}

.h-name-data-search{
    padding-top: 10px;
    /* margin-left:80px; */
    font-family: Nunito-Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4D4B57;
}

.h-status-data-search{
    /* margin-left:80px; */
    font-family: Nunito-Sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7A7886;
}

/* END PAGE SEARCHRECEIVER */

/* START PAGE CONFORMATION */

.h-tran-data-confirm{
    width:200px !important;
    float:right !important;
    margin-top:10px;
    background-color:#6379F4 !important; 
    border-color:unset !important;
}

.confirm{
    margin-bottom: 10px;
}

.h-tran-data-confirm:hover{
    color:#fff;
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    border-color:unset !important;
}

.bg-footer{
    background-color:#6379F4 !important;
 
}

.h-name-data-con{
    margin-top: 5px;
    margin-left:10px;
    font-family: Nunito-Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4D4B57;
}

.h-status-data-con{
    /* margin-left:80px; */
    padding-top:10px;
    margin-bottom: 0px;
    margin-left:10px;
    font-family: Nunito-Sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7A7886;
}

.h-tran-data-con{
    height:60px;
    margin-top:10px;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.h-tran-data-button{
    height:60px;
    margin-top:10px;
}

@media screen and (min-width: 260px) and (max-width: 768px){
    .h-tran-data-confirm{
        float:unset !important;
        display: block;
        margin: auto !important;
    }

    .h-tran-data-button{
        margin-top: 20px !important;
    }

}

.check-data{
    background: #FFFFFF;
    border: 1px solid rgba(169, 169, 169, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
    border-radius: 10px;
    width:53px;
    height:65px;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #3A3D42;
}

.check-score{
    text-align:center;
}

.p-footer{
    padding-left: 17px;
}

.p-footer{
    margin-bottom: unset !important;
}

.check-data:hover{
    background:unset !important;
}

/* END PAGE CONFORMATION */

/* START PAGE SUCCESS */

.img-success{
    text-align: center;
    margin-top:20px;
}

.parap-success{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #4D4B57;
}

.h-tran-data-btn{
    float:right;
    margin-top:10px;
    margin-bottom: 10px;
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    width:150px;
    height:40px;
    margin-left:20px;
    text-align: center;
}

.h-tran-data-pdf{
    float:right;
    height:40px;
    margin-top:10px;
    margin-bottom: 10px;
    background: rgba(99, 121, 244, 0.15);
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    width:180px;
    margin-left:20px;
    text-align: center;
}

.h-tran-data-send{
    float:right;
    margin-top:10px;
    margin-bottom: 10px;
    background: rgba(99, 121, 244, 0.15);
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    width:50px;
    height:40px;
    margin-left:20px;
    text-align: center;
}

.btn-pdf{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    color:#6379F4 !important;
}

.pdf{
    padding-right:10px; 
}

.btn-home{
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.btn-home:hover{
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    list-style-type: unset !important;
    text-decoration: unset !important;
}

.btn-pdf{
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    list-style-type: unset !important;
    text-decoration: unset !important;
}

@media screen and (min-width: 260px) and (max-width: 768px){
    .h-tran-data-pdf{
        /* display:block; */
        width:250px;
        float:unset !important;
        display: block;
        margin: auto !important;
        margin-bottom:10px !important;
    }

    .h-tran-data-send{
        width:250px;
        float:unset !important;
        display: block;
        margin: auto !important;
        margin-bottom:10px !important;
    }

    .h-tran-data-btn{
        width:250px;
        float:unset !important;
        display: block;
        margin: auto !important;
        margin-bottom:10px !important;
        margin-top:10px !important;
    }
}

/* END PAGE SUCCESS */

/* START PAGE HOME */

    .his-top{
        height: 150px;
        background: #6379F4;
        border-radius: 20px;
    }

    .his-middle-one{
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 25px;
        margin-top: 10px;
    }

    .his-middle-two{
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 25px;
        margin-top: 10px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #3A3D42;
        padding-left: 20px !important;
        padding-top: 10px !important;
    }

    .transaction-his{
        display:inline;
    }

    .his-parap{
        padding-top: 10px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 31px;
        color: #E0E0E0;
    }

    .his-money{
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        line-height: 35px;
        color: #FFFFFF;
    }

    .his-phone{
        padding-top: 10px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #DFDCDC;
    }

    .transfer{
        width: 25px;
        height:25px;
        padding-right:5px;
    }

    .topup{
        width: 25px;
        height:25px;
        padding-right:5px;
    }

    .his-top-button{
        margin-right:80px;
        padding-top:8px;
        float:right;
        margin-top:15px;
        width:120px;
        height:45px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        text-align:center;
    }

    .his-top-button:hover{
        list-style-type: unset !important;
        text-decoration: unset !important;
    }

    .his-bottom-button{
        float:right;
        margin-top:50px;
        width:120px;
        height:45px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        text-align:center;
    }

    .his-bottom-button:hover{
        list-style-type: unset !important;
        text-decoration: unset !important;
    }

    .see-all{
        text-decoration: unset !important;
        float:right;
        padding-right: 30px;
    }

    .h-status-money3{
        float:right !important;
    }
    
    .h-status-money4{
        float:right !important;
    }
    
    .h-status-money3{
        font-family: Nunito Sans;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        text-align: right;
        color: #1EC15F;
        padding-right: 30px;
    }
    
    .h-status-money4{
        font-family: Nunito Sans;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        text-align: right;
        color: #FF5B37;
        padding-right: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px){
        .his-top-button{
            margin-right:20px !important;
        }
        
    }

    .shadow-sm{
        border-radius:20px;
    }

    @media screen and (min-width: 250px) and (max-width: 575px){
        .bg-home{
            margin-top: 10px;
        }

        .bg-button{
            margin-top: 20px;
            border-radius: 20px;
            background-color: #6379F4;
        }
        
        .his-parap{
            text-align: center;
        }
    
        .his-money{
            text-align: center;
        }
    
        .his-phone{
            text-align: center;
        }

        .his-top-button{
            display: block;
            margin: auto !important;
            margin-bottom: 20px !important;
            margin-top: 20px !important;
            /* margin-right: 10px !important; */
            float:unset !important;
        }

        .heading-tran{
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 25px;
            color: #3A3D42;
        }

    }

    .income{
        margin-top: 50px;
        margin-left: 30px;
        float:left;
    }

    .expense{
        margin-top: 50px;
        margin-right: 30px;
        float:right;
    }

    .parap-income{
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #6A6A6A
    }

    .money-income{
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #3A3D42;
    }

    .bg-home{
        background-color: #6379F4 !important;
        border-radius:20px;
        height:150px;
    }

    .bg-button{
        float:right;
    }

    .aa{
        float:left;
    }

/* END PAGE HOME */

/* START AMOUNT BANK */

.type-trans{
    margin-top:15px;
    width: 336px;
    height: 56px;
}

.type-parap{
    /* margin-top: 20px; */
    margin-bottom: unset !important;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #7A7886;
}

.amount-available{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #3A3D42;
    text-align: center;
}

.amount-input{
    border: unset !important;
    /* width: 400px; */
    float: unset !important;
    margin: auto !important;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    color:#6379F4 !important;
}

.amount-notes{
    text-align: center;
    border: unset !important;
    float: unset !important;
    margin: auto !important;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: rgba(169, 169, 169, 0.8);
}

@media screen and (min-width: 260px) and (max-width: 1050px){
    .amount-input{
        font-size: unset !important;
    }
}

/* END AMOUNT BANK */